body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.page {
    display: none;
    width: 900px;
    height: 900px;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 100px;
}

#login {
    display: flex;
}

form {
    padding: 40px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 25px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

#logout-button {
    display: none;
}

header {
    display: flex;
    height: 6%;
    width: 100vw;
    justify-content: space-between;
    border-bottom: solid gray 1px;
    box-shadow: 0 4px 2px -2px gray;
}